@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

/* Prevent scrolling when menu is active */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}